@import 'base';
@import 'components/all';
@import 'pages/all';

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

.card-block {
  padding: 1.5em;
}
