.featurette {
  background: linear-gradient(45deg, adjust-hue($brand-color, 5deg) 0%,
    adjust-hue($brand-color, -5deg) 100%);
  min-height: 25rem;
  padding: 2rem 0;
  margin-bottom: 2rem;
  color: $white;

  &__frog {
    padding: 3rem;
    width: 60%;    
    background-color: white;
    border-radius: 40%;
  }
}