.hero {
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  &--expanded {
    padding: 2rem 0 10rem;
  }

  &__logo {
    max-height: 2rem;
    margin-right: 0.5rem;
  }

  &__header {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }

    &--expanded {
      color: $white;

      &:hover {
        color: darken($white, 5%);
      }
    }
  }

  &__login {
    &--inverse {
      color: $white;
    }

    &--transparent {
      background-color: transparent;
      color: $white;
    }
  }
}