doctype html  
html(lang='en')  
  head
    title Fubar
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css',
    integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
  link(rel='stylesheet', href='css/fubar.css')
  body
    #root
 
  script(src='https://code.jquery.com/jquery-3.2.1.min.js',
    integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js',
    integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js',
    integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
  //script(src='js/main.js')
 
  div(class='container')
    div(class='jumbotron')
      div(class='row')
        div(class='col text-center')
          div(class='page-header')
            h2 Fubar
        div(class='col-6')
          div(class='form-group')
            input(type='text' class='form-control' placeholder='Search')
        div(class='col text-center')
          button(type='button' class='btn btn-info') Login or register
    div(class='row')
      div(class='col-sm-3')
        div(class='card' style='width=auto')
          img(class='card-img-top' src='img/stock.jpg')
          div(class='card-block') 
            h4(class='card-text') Article Title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            a(href="#" class='btn btn-info') Take me to article
      div(class='col-sm-3')
        div(class='card' style='width=auto')
          img(class='card-img-top' src='img/stock.jpg')
          div(class='card-block') 
            h4(class='card-text') Article Title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            a(href="#" class='btn btn-info') Take me to article
      div(class='col-sm-3')
        div(class='card' style='width=auto')
          img(class='card-img-top' src='img/stock.jpg')
          div(class='card-block') 
            h4(class='card-text') Article Title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            a(href="#" class='btn btn-info') Take me to article
      div(class='col-sm-3')
        div(class='card' style='width=auto')
          img(class='card-img-top' src='img/stock.jpg')
          div(class='card-block') 
            h4(class='card-text') Article Title
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            a(href="#" class='btn btn-info') Take me to article
